<template>
    <div class="fileSystem-wrapper">
        <ul class="fileSystem-group">
          <li v-for="(treeTab, treeTabIndex) in filesData" :key="treeTabIndex" @contextmenu.prevent="$refs.menu.open($event, activeData=treeTab)">
            <div v-if="treeTab.children && treeTab.children.length" @click="treeTab.showSub = !treeTab.showSub" class="arrowImg">
              <img src="./../assets/images/right.svg" alt="not collapsed" v-if="!treeTab.showSub">
              <img src="./../assets/images/down.svg" alt="not collapsed" v-else>
            </div>
            {{ treeTab.name }}
            <FileItem v-if="treeTab.children && treeTab.children.length && treeTab.showSub" :tab="treeTab.children" />
          </li>
        </ul>
        <vue-context ref="menu">
          <li>
              <a href="#" @click.prevent="createSibiling()">Create Sibiling</a>
          </li>
          <li>
              <a href="#" @click.prevent="createChild()">Create New Folder</a>
          </li>
      </vue-context>
    </div>
</template>

<script>
import FileItem from './../components/FileItem'
import { VueContext } from 'vue-context'
export default {
  data () {
    return {
      activeData: {}
    }
  },
  created () {
    this.$store.dispatch('getAPIRequest')
  },
  components: {
    FileItem,
    VueContext
  },
  computed: {
    filesData: {
      get () {
        return this.$store.state.filesData
      },
      set (newVal) {
        this.$store.state.filesData = newVal
      }
    }
  },
  methods: {
    createSibiling () {
      this.filesData.push({
        folder_id: this.activeData.folder_id + `.${this.activeData.children.length}`,
        name: 'New Folder',
        parent_folder_id: this.activeData.parent_folder_id
      })
    },
    createChild () {
      this.activeData.children.push({
        folder_id: this.activeData.folder_id + `.${this.activeData.children.length}`,
        name: 'New Folder',
        parent_folder_id: this.activeData.folder_id
      })
    }
  }
}
</script>
