.fileSystem-wrapper {
    background-color: $fileSystem-bg_clr;
    max-width: 320px;
    ul {
        &.fileSystem-group {
            padding-left: 5px;
            li {
                list-style: none;
                position: relative;
                padding: 10px 10px 10px 26px;
                .arrowImg {
                    position: absolute;
                    left: 0;
                    top: 6px;
                    img {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}