<template>
    <ul class="fileSystem-group">
        <li v-for="(subTab, subTabIndex) in tab" :key="subTabIndex">
        <div v-if="subTab.children && subTab.children.length" @click="subTab.showSub = !subTab.showSub" class="arrowImg">
            <img src="./../assets/images/right.svg" alt="not collapsed" v-if="!subTab.showSub">
            <img src="./../assets/images/down.svg" alt="not collapsed" v-else>
        </div>
        {{ subTab.name }}
            <FileItem v-if="subTab.children && subTab.children.length && subTab.showSub" :tab="subTab.children" />
        </li>
    </ul>
</template>

<script>
export default {
  name: 'FileItem',
  props: {
    tab: [Array, Object]
  }
}
</script>
