<template>
        <li>
            <a href="#" @click.prevent="createFile()">Create Sibiling</a>
        </li>
</template>

<script>
export default {
  methods: {
    createFile () {
         
    }
  }
}
</script>